
@media only screen and (min-width: 401px) {
    :root{
        font-size: .875rem;
    }
}
/* Responsive Tablet content */
@media only screen and (min-width: 769px) {
    :root{
        font-size: 16px;
    }
    .checkout-header {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .checkout-header h1{
       text-align: center !important;
    }
    .payment_form {
    flex-direction: row !important;
   }
   .top_padding{
      padding-inline: 1.25rem !important;
   }
   
   .top_item:nth-child(1) {
    display: unset !important; 
   }
   .step {
    
    font-size: 18px !important;
    
  }
  /* Left Column: Form Section */
    .form-section {
        width: 60% !important;
        padding: 1rem;
    }
    /* Right Column: Cart Summary */
    .cart-summary {
        width: 40% !important;
    }
    .cart-summary {  
       padding: 1rem !important; 
   }

   .badge{
     margin: auto;
    width: 100% !important;
   }
    
}
/* Responsive Desktop content */
@media only screen and (min-width: 1024px) {
    .top_padding{
      padding-inline: 3.5rem !important;
   }
   .cart-summary {  
       padding: 2rem !important; 
   }
   .form-section {
        width: 60% !important;
        padding: 2rem;
    }
}


.top_item:nth-child(1) {
    display: none;
}
.checkout-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    margin-bottom: 1rem;
    height: 64px;
}


.checkout-header h1 {
    color: var(--Black, #0F0F11);
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.payment_form {
    display: flex;
    flex-direction: column;
    gap: 1.6875rem;
    justify-content: space-between;
}
.top_padding{
      padding-inline: 1.25rem;
}
.step {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Black, #0F0F11);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
/* Left Column: Form Section */
.form-section {
    background-color: var(--white);
    border-radius: 8px;
    width: 100%;
}
/* Right Column: Cart Summary */
.cart-summary {
    background-color: var(--Grey-Background);
    padding: 0;
    border-radius: 1.5rem;
    align-self: flex-start; /* Prevents stretching */
    width: 100%;
}