.thankyou-container {
    text-align: center;
    max-width: 400px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* outer circle */
    .circle {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #a3f7a3; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 20px;
    }
/* inner circle */
    .circle-inner {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #27d527; 
    }

    h1 {
      font-size: 28px;
      margin: 10px 0;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }